.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 90vh;
    height: auto;
}
    .main-wrap{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
.card{
    width: 80vw;
    min-height: 70vh;
    height: auto;
    padding: .5rem;
    height: auto;
    margin-top: 0;
    overflow-y: auto;
}

.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
}
.basic-info-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    color: var(--pure-white);
}
    .basic-info-wrap p{
        width: 40vw;
        text-indent: 5%;
    }
        .text-about{
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            opacity: 0;
            transition: opacity 2s ease-in;
        }
        .text-about.visible{
            opacity: 1;
        }
        .text-about p{
            width: 100%;
            font-size: 18px;
        }
        .basic-info-wrap h1{
            opacity: 0;
            transform: translateY(-10vh);
            transition: opacity 2s ease, transform 2s ease;
        }
        .basic-info-wrap h1.visible{
            opacity: 1;
            transform: translateY(0);
        }
        #btn1{
            opacity: 0;
            transform: translateY(20vh);
            transition: opacity 2s ease, transform 2s ease;
        }
        #btn1.visible{
            opacity: 1;
            transform: translate(0);
        }
.education{
    display: flex;
    justify-content: center;
    overflow: auto;
    min-height: 70vh;
    height: auto;
}
    .edu-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }
        .edu-wrap p{
            color: #8aa9b8;
            width: auto;
        }
        .edu{
            display: flex;
            gap: 5vw; 
        }
        .edu-mobile{
            display: none;
        }
        .box{
            width: 30vw;
            display: flex;
            flex-direction: column;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            /* background-color: var(--dark-accent);
            border: 10px solid var(--dark-accent);
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5); */
        }
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
    height: 65vh;
}
    .work-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
    .work-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .work-text p{
            color: #8aa9b8;
            text-indent: 5%;
            width: 30vw;
        }
.btns-about{
    display: flex;
    gap: 10vw;
    margin-top: 5vh;
    margin-left: 0;
}


.revealed{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

@media (max-width: 1000px){
    .main-wrap{
        margin-top: 25vh;
    }
    .basic-info{
        max-height: 80dvh;
        overflow-y: auto;
        justify-content: flex-start;
        margin-top: -30vh;
        overflow-x: hidden;
    }

    .basic-info-wrap{
        margin-top: 0; 
    }
    .basic-info-wrap h1{
        font-size: 26px;
    }
    .basic-info-wrap span{
        font-size: 28px;
    }
    .text-about p{
        width: 80vw;
        font-size: 16px;
    }
    .education{
        margin-top: -25vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .edu{
        display: none;
    }
    .edu-wrap h1{
        font-size: 26px;
    }
    .edu-mobile{
        display: block;
    }
        .edu-mobile-wrap{
            width: 80vw;
            max-height: 70dvh;
            font-weight: 600;
            font-size: 15px;
            overflow-y: auto;
            scrollbar-width: none;
        }
            .edu-mobile-wrap h5{
                font-size: 12px;
            }
        .btns-about{
            gap: 1rem;
        }

    .work{
        height: auto;
        margin-top: -30vh;
    }
        .btns{
            margin: 0;
            gap: 1rem;
        }
}
