.main-about{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 95vh;
}
    .main-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.card{
    width: 80vw;
    height: 85vh;
    margin-top: -15vh;
    background-color: #8fb6c860;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    padding: .5rem;
}

.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
}
.basic-info-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    color: var(--pure-white);
}
    .basic-info-wrap p{
        width: 40vw;
        text-indent: 5%;
    }

.education{
    display: flex;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
    height: 70vh;
}
    .edu-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
        .edu{
            display: flex;
            gap: 5vw; 
        }
        .box{
            width: 30vw;
            display: flex;
            flex-direction: column;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            background-color: var(--dark-accent);
            border: 10px solid var(--dark-accent);
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
        }
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
    height: 65vh;
}
    .work-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
        .work-text p{
            color: #8aa9b8;
            text-indent: 5%;
            width: 30vw;
        }
        .work-text .ul{
            margin-left: 8%;
        }

.btns-about{
    display: flex;
    gap: 10vw;
    margin-top: 5vh;
}


.revealed{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

@media (max-width: 500px){
  .basic-info,
  .education,
  .work{
    max-height: 80dvh;
    overflow-y: auto;
    justify-content: flex-start;
  }

  .basic-info-wrap,
  .edu-wrap{
    margin-top: 0; 
  }
  .basic-info-wrap h1{
    font-size: 26px;
  }
  .basic-info-wrap span{
    font-size: 28px;
  }
  .basic-info-wrap p{
    width: 70vw;
  }
}
