.contact-wrap{
    width: 70vw;
    height: 60vh;
    background-color: #8fb6c860;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    gap: 5vh;
    overflow: auto;
    scrollbar-width: none;
}
.socials-wrap{
    margin: 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 51vw;
    gap: 1rem;
}
.email-poup{
    margin: 0;
}