.contact-wrap{
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5vh;
    overflow: auto;
    scrollbar-width: none;
}
    .contact-wrap h1{
        opacity: 0;
        transform: translateY(-40vh);
        transition: opacity 1s ease, transform 2s ease;
    }
    .contact-wrap h1.visible{
        opacity: 1;
        transform: translate(0);
    }

.socials-main{
    opacity: 0;
    transform: translateY(40vh);
    transition: opacity 1s ease, transform 2s ease;
}
.socials-main.visible{
    opacity: 1;
    transform: translate(0);
}
.socials-wrap{
    margin: 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 51vw;
    gap: 1rem;

    opacity: 0;
    transition: opacity 1s ease, transform 2s ease;
}
.text.visible{
    opacity: 1;
}
.email-poup{
    margin: 0;
}

@media (max-width: 1100px) {
    .contact{
        margin-top: 0;
    }
    .contact-wrap{
        height: 90vh;
        gap: 0;
        overflow: auto;
    }
    .text{
        width: 80vw;
    }
    .text h3{
        font-size: 16px;
        padding: 2rem;
    }
}