.hero{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
    .hero-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        margin-top: 5vh;
    }
        .hero h1{
            opacity: 0;
            transform: translateY(-50vh);
            transition: opacity 1s ease, transform 2s ease;
        }
        .hero h1 span{
            font-weight: 600;
            font-size: 40px;
            color: var(--light-accent);
        }
        .hero h1.visible{
            opacity: 1;
            transform: translate(0);
        }
        .project-wrap{
            display: flex;
            align-items: center;
            gap: 2.5vw;
        }
            .projects{
                display: flex;
                margin-top: 5vh;

                opacity: 0;
                transition: opacity 1s ease-in, transform 2s ease-in;
            }
            .projects.visible{
                opacity: 1;
            }
                .first-project, .second-project, .third-project{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70vw;
                    height: 60vh;
                }
                    .project{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8rem;
                    }
                        .project h4{
                            width: 30vw;
                        }
                        .mockup{
                            width: 25vw;
                            height: auto;
                        }
                .ascuns{
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                }
                .nothidden{
                    opacity: 1;
                    transition: opacity 0.5s ease-in;
                }
.short{
    width: 50px;
    height: 50px;
    background-color: var(--light-accent);
    border: #00000000;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.arrow{
    width: 30px;
    height: auto;
}
#btn5{
    opacity: 0;
    transform: translatex(-50vw);
    transition: opacity 1s ease-in, transform 2s ease-in;
}
#btn5.visible{
    opacity: 1;
    transform: translate(0);
}
#btn6{
    opacity: 0;
    transform: translatex(50vh);
    transition: opacity 1s ease-in, transform 2s ease-in;
}
#btn6.visible{
    opacity: 1;
    transform: translate(0);
}

@media (max-width: 1400px) {
    .first-project,.second-project,.third-project{
        overflow: auto;
        scrollbar-width: none;
        height: auto;
        gap: 0;
    }
    .hero{
        margin-top: -3vh;
    }
    .project{
        flex-direction: column-reverse;
        gap: 1rem;
        height: 80vh;
        overflow: auto;
        scrollbar-width: none;
        margin-top: -7vh;
    }
        .project h4{
            height: 100%;
            width: 70vw;
        }
        .mockup{
            width: 70vw;
            height: auto;
        }
    .short{
        margin-top: 0;
    }
} 