.hero{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
    .hero-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        margin-top: 5vh;
    }
        .project-wrap{
            display: flex;
            align-items: center;
            gap: 2.5vw;
        }
            .projects{
                display: flex;
                margin-top: 5vh;
            }
                .first-project, .second-project, .third-project{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70vw;
                    height: 60vh;
                    background-color: #8fb6c860;
                    border-radius: 30px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
                }
                    .project{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8rem;
                    }
                        .project h4{
                            width: 30vw;
                        }
                        .mockup{
                            width: 25vw;
                            height: auto;
                        }
                .ascuns{
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                }
                .nothidden{
                    opacity: 1;
                    transition: opacity 0.5s ease-in;
                }
.short{
    width: 60px;
    height: 60px;
    background-color: var(--light-accent);
    border: #00000000;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.arrow{
    width: 35px;
    height: auto;
}