:root {
  /* Culori de baza */

  --black: #303030;
  --white: #D9D9D9;
  --light-accent: #8FB6C8;
  --dark-accent: #79ABBA;
  --black-accent: #4b6a74;

  /* Alb Negru */
  --pure-black: #000;
  --pure-white: #fff;
  --light-gray:#c4c4c4;
}